@import '../variables.css';

.root-footer {
  background: #333;
  color: #fff;
}

.container-footer {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: var(--max-content-width);
  text-align: center;
}

.text-footer {
  color: rgba(255, 255, 255, 0.5);
}

.spacer-footer {
  color: rgba(255, 255, 255, 0.3);
}

.text-footer,
.link-footer {
  padding: 2px 5px;
  font-size: 1em;
}

.link-footer,
.link-footer:active,
.link-footer:visited {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.link-footer:hover {
  color: rgba(255, 255, 255, 1);
}
